<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <title>Hello Page</title>
</h:head>

<h:body>
    <h3>HELLO</h3>
    <h:form>
        <div>
            <h:inputText value="#{helloBean.name}"></h:inputText>
            <h:commandButton id="saveButton" value="Welcome Me" action="result"></h:commandButton>

            <!--
<h:commandLink id="nextPageButton" action="#{projectFormBean.save}" process="@form" ajax="false"
               styleClass="btn btn-xlg btn-venus">
    NEXT PAGE
</h:commandLink>
-->
        </div>
        <div>
            <h:outputLink id="previousPageButton" value="/welcome.jsf">PREVIOUS PAGE</h:outputLink>
        </div>
    </h:form>
</h:body>
</html>