<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>Result Page</title>
</h:head>

<h:body>
    <h3>RESULT</h3>

    <h4 id="resultLabel">Thank you #{helloBean.name}</h4>

    <div>
        <h:outputLink id="previousPageButton" value="/hello.jsf">PREVIOUS PAGE</h:outputLink>
    </div>
</h:body>
</html>
