<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <title>Welcome Page</title>
</h:head>

<h:body bgcolor="white">
    <h3>WELCOME</h3>
    <h4>Welcome our customer</h4>

    <h:outputLink id="nextPageButton" value="/hello.jsf">NEXT PAGE</h:outputLink>

    <h:form>
        <h:commandLink id="nextPageButton2" action="#{helloBean.save}"
                       process="@form" ajax="false">
            SERVER SIDE CLICK
        </h:commandLink>
    </h:form>

    
</h:body>
</html>